<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/umanage</url-pattern>
        <url-pattern>/udelete</url-pattern>
        <url-pattern>/badmin</url-pattern>
        <url-pattern>/manageproductshow</url-pattern>
        <url-pattern>/manageproductedit</url-pattern>
        <url-pattern>/manageproductdelete</url-pattern>
        <url-pattern>/manageproductadd</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>jspFilter</filter-name>
        <filter-class>filter.jspFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>jspFilter</filter-name>
        <url-pattern>/profile</url-pattern>
        <url-pattern>/home</url-pattern>
        <url-pattern>/pdetail</url-pattern>
        <url-pattern>/search</url-pattern>
        <url-pattern>/umanage</url-pattern>
        <url-pattern>/udelete</url-pattern>
        <url-pattern>/badmin</url-pattern>
        <url-pattern>/searchproduct</url-pattern>
        <url-pattern>/pshow</url-pattern>
        <url-pattern>/addcart</url-pattern>
        <url-pattern>/viewcart</url-pattern>
        <url-pattern>/updateCart</url-pattern>
        <url-pattern>/deleteproductcart</url-pattern>
        <url-pattern>/removeFromCart</url-pattern>
        <url-pattern>/checkout</url-pattern>
        <url-pattern>/passgetuser</url-pattern>
        <url-pattern>/authenticuser</url-pattern>
        <url-pattern>/resetpass</url-pattern>
        <url-pattern>/manageproductshow</url-pattern>
        <url-pattern>/manageproductedit</url-pattern>
        <url-pattern>/manageproductdelete</url-pattern>
        <url-pattern>/manageproductadd</url-pattern>
        <url-pattern>/addProduct.jsp</url-pattern>
        <url-pattern>/answerAuthenticate.jsp</url-pattern>
        <url-pattern>/cart.jsp</url-pattern>
        <url-pattern>/changepass.jsp</url-pattern>
        <url-pattern>/editProduct.jsp</url-pattern>
        <url-pattern>/footer.jsp</url-pattern>
        <url-pattern>/header.jsp</url-pattern>
        <url-pattern>/home.jsp</url-pattern>
        <url-pattern>/listuser.jsp</url-pattern>
        <url-pattern>/manageProduct.jsp</url-pattern>
        <url-pattern>/product.jsp</url-pattern>
        <url-pattern>/productdetail.jsp</url-pattern>
        <url-pattern>/profile.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>RegisterControl</servlet-name>
        <servlet-class>controller.RegisterControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>controller.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileControl</servlet-name>
        <servlet-class>controller.ProfileControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>controller.HomeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailControl</servlet-name>
        <servlet-class>controller.ProductDetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchControl</servlet-name>
        <servlet-class>controller.searchControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManage</servlet-name>
        <servlet-class>controller.UserManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDelete</servlet-name>
        <servlet-class>controller.UserDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserBecomeAdminControl</servlet-name>
        <servlet-class>controller.UserBecomeAdminControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductControl</servlet-name>
        <servlet-class>controller.SearchProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductShowControl</servlet-name>
        <servlet-class>controller.ProductShowControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCart</servlet-name>
        <servlet-class>controller.addCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewCart</servlet-name>
        <servlet-class>controller.viewCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCart</servlet-name>
        <servlet-class>controller.updateCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProductCart</servlet-name>
        <servlet-class>controller.deleteProductCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeFromCart</servlet-name>
        <servlet-class>controller.removeFromCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkout</servlet-name>
        <servlet-class>controller.checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>passGetUserName</servlet-name>
        <servlet-class>controller.passGetUserName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>authenticUserControl</servlet-name>
        <servlet-class>controller.authenticUserControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPassControl</servlet-name>
        <servlet-class>controller.resetPassControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProductShow</servlet-name>
        <servlet-class>controller.ManageProductShow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProductEdit</servlet-name>
        <servlet-class>controller.ManageProductEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProductDelete</servlet-name>
        <servlet-class>controller.ManageProductDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProductAdd</servlet-name>
        <servlet-class>controller.ManageProductAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>invoice</servlet-name>
        <servlet-class>controller.invoice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterControl</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileControl</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeControl</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailControl</servlet-name>
        <url-pattern>/pdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchControl</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManage</servlet-name>
        <url-pattern>/umanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDelete</servlet-name>
        <url-pattern>/udelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserBecomeAdminControl</servlet-name>
        <url-pattern>/badmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductControl</servlet-name>
        <url-pattern>/searchproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductShowControl</servlet-name>
        <url-pattern>/pshow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCart</servlet-name>
        <url-pattern>/addcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewCart</servlet-name>
        <url-pattern>/viewcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCart</servlet-name>
        <url-pattern>/updateCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProductCart</servlet-name>
        <url-pattern>/deleteproductcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeFromCart</servlet-name>
        <url-pattern>/removeFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>passGetUserName</servlet-name>
        <url-pattern>/passgetuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>authenticUserControl</servlet-name>
        <url-pattern>/authenticuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPassControl</servlet-name>
        <url-pattern>/resetpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProductShow</servlet-name>
        <url-pattern>/manageproductshow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProductEdit</servlet-name>
        <url-pattern>/manageproductedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProductDelete</servlet-name>
        <url-pattern>/manageproductdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProductAdd</servlet-name>
        <url-pattern>/manageproductadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>invoice</servlet-name>
        <url-pattern>/invoice</url-pattern>
    </servlet-mapping>
</web-app>
